<html>
<head>
  <title>Silfra Telephone Directory</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
 
  
</head>
<body ng-app="directory" ng-controller="MainCtrl" style="background-color:#f2f1ef;">
  <nav class="navbar navbar-default" ng-controller="NavCtrl" style="background-color: #ffcf05;">
    
    <div class="container" style="width:1170px;margin-left: 6%;">
      <a class="navbar-brand" href="/#/landing"><img src="https://cdn.yellowpages.in/images/yellow-pages-logo.png" alt="Silfra" style="margin-top: -10px;width: 40px;"></a>
      <ul class="nav navbar-nav">
         
        <li ng-show="isLoggedIn()"><a href="/#/home">Home</a></li>
        <!--li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li-->
        <li ng-show="isLoggedIn()"><a href="/#/addrecord">Add Business</a></li>
<!--         <li ng-show="0" style="margin-left:25px;"> </li>
        <li ng-show="0" style="margin-left:25px;"> </li> -->

        
        <li >
          <div class="search">
            <input type="text" ng-model="$parent.nameFilter.$" class="form-control" ng-init="Apparels" placeholder="Search..." id="main_search" style="width:200%;margin-top:5px;font-weight:normal;height: 39px;border-radius:3px;" />
            <span class="fa fa-search" onclick="javascript:location.href='#/home'"></span>
          </div>
        </li>
        <li ng-hide="isLoggedIn()" style="margin-left: 695px;"><a href="/#/login" class="pull-right">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register"  class="pull-right">Register</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li ng-show="isLoggedIn()"><a href="" ng-click="logout()">Log Out</a></li>
      </ul>  
    </div>
  </nav>
  <div class="row">
      <ui-view></ui-view>
  </div>

</body>
</html>