<form class="container col-md-2 col-md-offset-2" ng-submit="addRecord()" id="invoice" style="background-color:#E6E6FA; max-width:850px;margin-top:100px;">

<div class="row">
      <div class="col-xs-12 heading">
        INVOICE
      </div>
    </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>
    <div class="row branding">
      <div class="col-xs-6">
        <div class="invoice-number-container">
          <label for="invoice-number">Invoice #</label><input type="text" id="invoice-number" ng-model="invoice_number" placeholder="Enter Invoice Number" />
        </div>
        <input type="text" id="logo_url" ng-model="logo_url" placeholder="Enter Logo URL" />
      </div>
      <div class="col-xs-6 logo-container">
        
        <img ng-hide="logoRemoved" id="company_logo" ng-src="{{ logo_url }}" alt="your image" width="32" />
        <div>
          <div class="noPrint" ng-hide="printMode">
            
            <!--<a ng-click="editLogo()" href >Edit Logo</a>-->
            <a ng-click="toggleLogo()" id="remove_logo" href >{{ logoRemoved ? 'Show' : 'Hide' }} logo</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row infos">
      <div class="col-xs-6">
         <div class="input-container"><input type="text" ng-model="name" placeholder="Customer Name"/></div>
        <div class="input-container"><input type="text" ng-model="web_link" placeholder="Web link"/></div>
        <div class="input-container"><input type="text" ng-model="address1" placeholder="Address 1"/></div>
        <div class="input-container"><input type="text" ng-model="address2" placeholder="Address 2"/></div>
        <div class="input-container"><input type="text" ng-model="postal" placeholder="Postal"/></div>
        <div class="input-container" data-ng-hide="printMode">
          <select ng-model="currencySymbol" ng-options="currency.symbol as currency.name for currency in availableCurrencies"></select>
        </div>
      </div>
      <div class="col-xs-6 right">
         <div class="input-container"><input type="text" ng-model="name_c" placeholder="Company Name" style="text-align: left;"/></div>
        <div class="input-container"><input type="text" ng-model="web_link_c" placeholder="Web link" style="text-align: left;"/></div>
        <div class="input-container"><input type="text" ng-model="address1_c" placeholder="Address 1" style="text-align: left;"/></div>
        <div class="input-container"><input type="text" ng-model="address2_c" placeholder="Address 2" style="text-align: left;"/></div>
        <div class="input-container"><input type="text" ng-model="postal_c" placeholder="Postal" style="text-align: left;"/></div>
      </div>
    </div>
    <div class="items-table">
      <div class="row header">
        <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-5">Description</div>
        <div class="col-xs-2">Quantity</div>
        <div class="col-xs-2">Cost {{currencySymbol}}</div>
        <div class="col-xs-2 text-right">Total</div>
      </div>
      <div class="row invoice-item" ng-repeat="item in invoice.items" ng-animate="'slide-down'">
        <div class="col-xs-1 remove-item-container">
          <a href ng-hide="printMode" ng-click="removeItem(item)" class="btn btn-danger">[X]</a>
        </div>
        <div class="col-xs-5 input-container">
          <input ng-model="item.description" placeholder="Description" />
        </div>
        <div class="col-xs-2 input-container">
          <input ng-model="item.qty" value="1" size="4" ng-required ng-validate="integer" placeholder="Quantity" />
        </div>
        <div class="col-xs-2 input-container">
          <input ng-model="item.cost" value="0.00" ng-required ng-validate="number" size="6" placeholder="Cost" />
        </div>
        <div class="col-xs-2 text-right input-container">
          <input ng-modal="item.total" value="{{Total() | currency: currencySymbol}}" readonly/>
        </div>
      </div>
      <div class="row invoice-item">
        <div class="col-xs-12 add-item-container" ng-hide="printMode">
          <a class="btn btn-primary" href ng-click="addItem()" >[+]</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 text-right">Sub Total</div>
        <div class="col-xs-2 text-right">
          <input ng-modal="item.subtotal" value="{{invoiceSubTotal() | currency: currencySymbol}}" readonly/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 text-right">Tax: 
          <div class="col-xs-2 input-container text-right">
            <input ng-model="invoice.tax" ng-validate="number" style="width:43px;margin-left:100px;margin-top:50px;" placeholder="Tax" >
            <label style="margin-top:-50px;">Tax(%):</label>
          </div>
        </div>
        <div class="col-xs-2 text-right">
          <input ng-modal="item.tax" value="{{calculateTax() | currency: currencySymbol}}" readonly/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 text-right">Grand Total:</div>
        <div class="col-xs-2 text-right">
          <input ng-modal="item.grandtotal" value="{{calculateGrandTotal() | currency: currencySymbol}}" readonly/>
        </div>
      </div>
    </div>
    <div class="row noPrint actions">
      <a href="#" class="btn btn-primary" ng-show="printMode" ng-click="printInfo()">Print</a>
      <a href="#" class="btn btn-primary" ng-click="clearLocalStorage()">Reset</a>
      <a href="#" class="btn btn-primary" ng-hide="printMode" ng-click="printMode = true;">Turn On Print Mode</a>
      <a href="#" class="btn btn-primary" ng-show="printMode" ng-click="printMode = false;">Turn Off Print Mode</a>
      <button type="submit" class="btn-lg btn btn-primary">Add</button>
    </div>
  </form>
