  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="home-banner container" style="margin-top:-20px;width:1365px;">
               <div class="wrapper">
                  <div class="searchBlock">
                     <h1 class="searchTitle">#1 Indian website for listing local business</h1>
                     <div class="searchInputBlock">
                        <div class="homeSearchBlock" id="homeSearchBlock">
                           
                        </div>
                     </div>
                  </div>
               </div>
               <div class="homeCategoriesBlock">
                  <div class="wrapper">
                     <ul id="ulCats" class="homeCategoriesList">
                        <li>
                           <a class="eachHomeCategory" data-label="Apparels" ng-click="$parent.nameFilter='Apparels'">
                              <div class="eachCategoryIcon" style="background-image:url(https://cdn.yellowpages.in/assets/category/apparels-and-accessories.png)"></div>
                              <div class="eachCategoryname">Apparels</div>
                           </a>
                        </li>
                        <li>
                           <a   class="eachHomeCategory" data-label="Food" ng-click="$parent.nameFilter='Food'">
                              <div class="eachCategoryIcon" style="background-image:url(https://cdn.yellowpages.in/assets/category/food-and-beverages.png)"></div>
                              <div class="eachCategoryname">Food</div>
                           </a>
                        </li>
                        <li>
                           <a  class="eachHomeCategory" data-label="Beauty" ng-click="$parent.nameFilter='Beauty'">
                              <div class="eachCategoryIcon" style="background-image:url(https://cdn.yellowpages.in/assets/category/beauty-and-wellness.png)"></div>
                              <div class="eachCategoryname">Beauty</div>
                           </a>
                        </li>
                        <li>
                           <a class="eachHomeCategory" data-label="Education" ng-click="$parent.nameFilter='Education'">
                              <div class="eachCategoryIcon" style="background-image:url(https://cdn.yellowpages.in/assets/category/education.png)"></div>
                              <div class="eachCategoryname">Education</div>
                           </a>
                        </li>
                        <li>
                           <a class="eachHomeCategory" data-label="Health" ng-click="$parent.nameFilter='Health'">
                              <div class="eachCategoryIcon" style="background-image:url(https://cdn.yellowpages.in/assets/category/health.png)"></div>
                              <div class="eachCategoryname">Health</div>
                           </a>
                        </li>
                        <li>
                           <a  class="eachHomeCategory" data-label="Wedding" ng-click="$parent.nameFilter='Wedding'">
                              <div class="eachCategoryIcon" style="background-image:url(https://cdn.yellowpages.in/assets/category/wedding-and-events.png)"></div>
                              <div class="eachCategoryname">Wedding</div>
                           </a>
                        </li>
                        <li>
                           <a  class="eachHomeCategory" data-label="Logistics" ng-click="$parent.nameFilter='Logistics'"> 
                              <div class="eachCategoryIcon" style="background-image:url(https://cdn.yellowpages.in/assets/category/logistics-services.png)"></div>
                              <div class="eachCategoryname">Logistics</div>
                           </a>
                        </li>
                        <li>
                           <a class="eachHomeCategory" data-label="Printing" ng-click="$parent.nameFilter='Printing'">
                              <div class="eachCategoryIcon" style="background-image:url(https://cdn.yellowpages.in/assets/category/printing-and-stationaries.png)"></div>
                              <div class="eachCategoryname">Printing</div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>

  <script>
$(document).ready(function()
{
  $('.eachHomeCategory').click(function()
  {
      $('#main_search').empty();
      $('#main_search').val($(this).data('label'));
      $('#main_search').focus();
      //$('.fa-search').click();
      location.href="#/home";
  });
});
</script>