<div class="col-md-4 col-md-offset-4" style="background-color: white;padding-bottom:15px;margin-top: 100px;">  
  <div class="page-header">


    <div>
      <h1>
        {{record.bizname}}
      </h1>
    </div>
  </div>
    <ul class="nav nav-pills" role="tablist">
        <li ng-class="{ active: isSet(1) }"><a href ng-click="setTab(1)">Address</a></li>
        <li ng-class="{ active: isSet(2) }"><a href ng-click="setTab(2)">Reviews</a></li>
    </ul>
    <div class="tab-content">
      <div  ng-show="isSet(1)" style="margin-top:10px">
        <div class="col-md-7">
        <div>
        {{record.address}}
        </div>
        <div>
        <a href="mailto:{{record.email}}">{{record.email}}</a>
        </div>
        <div>
        {{record.phone}}
        </div>
        <div>
        {{record.category}}
        </div>
      </div>
        <div class="col-md-5">
          <img src="{{record.link}}" style="width:200px;height:120px;">
        </div>
      </div>
      <div ng-show="isSet(2)" style="margin-top:10px">
        
        
      <ul id="ulReviews" class="recentReviewsList">
        <div ng-repeat="comment in record.comments | orderBy:'-upVotes' | orderBy:'-time'">
         <li>
            <div class="eachRR">
               <div class="eachRRPhotoRat">
                  <div class="eachRRPhoto"><img src="https://cdn.yellowpages.in/assets/u/nophoto.jpg" alt=""></div>
                  <div class="titleRating">
                     <a class="reviewerName">{{comment.author}}</a>
                     <div class="reviewRating">
                        <i class="fa fa-star" ng-repeat="n in range(1,comment.score)" style="color:#ffe100;font-size: 20px;"></i>
                        <i class="fa fa-star-o" ng-repeat="n in range(1,5-comment.score)" style="color:#ffe100;font-size: 20px;"></i>
                    </div>
                    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>{{comment.upvotes}}
                  </div>
               </div>
<!--                <a  class="eachRRTitle">White House Apparels Pvt Ltd</a> -->
               <p class="eachRRTitleInfo">{{comment.body}}</p>
            </div>
         </li>
        </div>
        <br>
      </ul>
<!--         <div ng-repeat="comment in record.comments | orderBy:'-upVotes'">
          <span class="glyphicon glyphicon-thumbs-up"
                ng-click="incrementUpvotes(comment)"></span>
          {{comment.upvotes}} - by {{comment.author}}
          <span style="font-size:20px; margin-left: 10px;">
            {{comment.body}}
          </span>
          <i class="fa fa-star" ng-repeat="n in range(1,comment.score)" style="color:#ffe100;font-size: 20px;"></i>
          <i class="fa fa-star-o" ng-repeat="n in range(1,5-comment.score)" style="color:#ffe100;font-size: 20px;"></i>
        </div> -->
        
        

        <form ng-submit="addComment()"
              ng-show="isLoggedIn()"
                style= "margin-top: 30px;">
            <h3>Add a new review comment:</h3>

            <div class="form-group">
              <input type="text"
                     class="input-lg form-control"
                     placeholder="Comment"
                     ng-model="body" style="border-radius: 5px;">
            </div>
          
            <div class="form-group">
              <select class="input-lg form-control" ng-model="score">
                <option value="">Rate</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          
            <button type="submit" class="btn-lg btn btn-primary">Submit</button>
        </form>
      </div>
    </div>



<div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
</div>
<style>
.innerHeader{position:relative;z-index:6;background-color:#ffcf05}
</style>
</div>